extends _layout.pug

block locals 
  - var title = "indexPage"

block content 
  div(class="content") 
    h1(class="title-lg") Hello, webpack 
    h2(class="title") test
    div#react-root
    img(src="../images/image_1.png")
